{{#partial "content"}}

    <div class="card" style="width : 40vw;margin-top: 5%; padding: 3% 5%;">
        <h3>Hooray!</h3>

        <div>
            <p>Your sighting has been recorded!!</p>
            <a href="/" style="text-decoration : none;color: darkgreen"><h5>Back to Homepage,</h5></a>
            <h5>View <a href="/animals" style="text-decoration : none;color: darkgreen">Animals</a> or <a
                    href="/sightings" style="text-decoration : none;color: darkgreen">Sightings</a></h5>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}