{{#partial "content"}}

    <div class="container-fluid"
         style="display: flex; flex-direction: column; align-content: center; justify-content: center">
        <h3 style="text-decoration: underline; margin-top: 2rem; margin-bottom: 1rem;">Welcome to <strong
                style="color: #006400">Forest Service</strong>!</h3>
        <h5>Africa has over 400 known species of endangered animals. Tracking wildlife and monitoring endangered species
            is an essential and critical step in their conservation.</h5><br>
        <h5>Wildlife monitoring is essential for keeping track of animal movement patterns, habitat utilisation,
            population demographics, snaring and poaching incidents and breakouts. This valuable information, which
            <strong>Forest Service</strong> and our conservation volunteers gather on our wildlife volunteer projects, has numerous
            management applications, including the planning of successful introduction and removal strategies of
            Africa’s wildlife.</h5>
        <div class="container" style="margin-top: 1rem;  padding-left: 0; display: inline-flex; align-content: center;">
            <ul style=" padding-left: 0;">
                <li style="display: block;" class="mbr-text mbr-fonts-style display-5 "><a
                        class="btn btn-outline-secondary" href="/sightings/new">Record New Sighting</a></li>
            </ul>
            <ul>
                <li style="display: block;" class="mbr-text mbr-fonts-style display-5 "><a
                        class="btn btn-outline-secondary" href="/rangers/new">Join as a Ranger</a></li>
            </ul>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}