{{#partial "content"}}

    <div class="center">
        <div id="rdtl-h5">
            <h5><strong>Enter your Name</strong></h5>
            <hr>
        </div>
        <div class="col-12">
            <form action="/rangers/new" method="post" class="row">
                <div class="txt_field col-12">
                    <label for="rName">Name: </label>
                    <input id="rName" name="rName" type="text" placeholder="Enter name">
                </div>
                <button type="submit" class="btn btn-outline-secondary" style="margin-left: 16px; margin-top: 16px">Join</button>
                <span></span>
            </form>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}